.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;

  display: flex;
  align-items: center;
  padding: 0 20px;

  background-color: #111;
  z-index: 1000;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}
