:root {
  /* Colors (your existing palette) */
  --primary-color: #a0b39e;     
  --secondary-color: hsl(0, 0%, 100%);
  --accent-color: #e2b89c;      
  --background-color: #f7f4ef;  
  --text-color: #555555;        

  /* Fonts */
  --primary-font: 'Tropikal', sans-serif;  /* headings, titles */
  --secondary-font: 'Roboto', sans-serif; /* body text */
}



/* Reset & base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--secondary-font);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
}

